In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1) В ноутбуці завантаж таблицю з файлу applications.csv в Pandas DataFrame та почисти дані

In [2]:
import warnings

warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('K:/Data Analitics learning/Python/data set for HW6/applications.csv')
df.head(5)

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id
0,11.30.2022 10:26:37,12000.0,29,Чоловік,Blockchain,Other,8.0,"Вища (бакалавр, спеціаліст, магістр)",Івано-Франківськ чи область,99e7b0dc6cc05dd334d8f38dc26ce9b3
1,11.30.2022 10:26:39,NaN,36,Чоловік,Public services / Government,Single,3.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,63dfcf8e6904186650d6814279fbe42f
2,11.30.2022 10:26:58,7500.0,34,Чоловік,Adtech / Advertising,Single,4.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,10dbafaeb46c09e96b6987c03bbb3498
3,11.30.2022 10:27:31,1500.0,23,Жінка,Telecom,Single,0.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,5847ac62cc9eac5e323c2517dcc91ad1
4,11.30.2022 10:27:34,8400.0,33,Жінка,Automotive,Single,6.0,"Вища (бакалавр, спеціаліст, магістр)",Житомир чи область,5d21f3795b50de8e8f8f8d5f48b754f3

In [4]:
df.describe()

             Amount           Age  External Rating
count  13272.000000  13315.000000     13243.000000
mean    9034.665913     29.318288         4.882202
std     6168.343738      6.031209         3.738651
min      150.000000     14.000000         0.000000
25%     3900.000000     25.000000         2.000000
50%     7800.000000     29.000000         4.000000
75%    12900.000000     33.000000         7.000000
max    58500.000000     63.000000        15.000000

In [5]:
df.shape

(13315, 10)

In [6]:
df.columns

Index(['Applied at', 'Amount', 'Age', 'Gender', 'Industry', 'Marital status',
       'External Rating', 'Education level', 'Location', 'applicant_id'],
      dtype='object')

In [7]:
df.dtypes

Applied at          object
Amount             float64
Age                  int64
Gender              object
Industry            object
Marital status      object
External Rating    float64
Education level     object
Location            object
applicant_id        object
dtype: object

Прибери дублікати applicant_id

In [8]:
# df = df.drop_duplicates(subset='id')
df = df.drop_duplicates(subset='applicant_id')
df.shape

(13278, 10)

В полі 'External Rating' заповни відсутні значення нулями

In [9]:
# Рахуємо кількість NaN у стовбчику 'External Rating'
df['External Rating'].isna().sum()

72

In [10]:
# Використовуваєм метод fillna()
df['External Rating'] = df['External Rating'].fillna(0)

In [11]:
# перевіряєм
df['External Rating'].isna().sum()

0

В полі 'Education level' заповни відсутні значення текстом “Середня”